body {
  background-color: #000000;
  color: #ffffa0;
  font-family: "Trebuchet MS", Verdana, sans-serif;
}

.recipe-page {
  background-color: #ffffc1;
  color: rgb(0, 0, 0);
  font-size: 19px;
}

h1 {
  text-align: center;
  font-size: 50px;
  text-shadow: 0px 4px 4px #f52e1c;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul {
  text-align: center;
  list-style-type: none;
}

a {
  color: #ffffc1;
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
}

a:hover {
  color: #808080;
}

.recipe-name {
  text-shadow: 0px 4px 4px #5e5e5e;
}

.recipe-description,
.recipe-ingredients,
.recipe-steps {
  font-size: 30px;
  color: #474747;
}

.ingredients-list {
  text-align: left;
  list-style-type: square;
}

.return-link {
  color: #f52e1c;
  font-size: 18px;
}
